<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.renderRendering>
        <processor
          type="Foundation.DynamicPersonalization.Pipelines.RenderRendering.PartialPageRenderingSkipIfNotPersonalized, Foundation.DynamicPersonalization"
          patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.StartStatisticRecording, Sitecore.Mvc']" />
      </mvc.renderRendering>
      <mvc.customizeRendering>
        <processor type="Foundation.DynamicPersonalization.Pipelines.CustomizeRendering.SetRenderingPersonalizedFlag, Foundation.DynamicPersonalization" />
        <processor type="Foundation.DynamicPersonalization.Pipelines.CustomizeRendering.PartialPageRenderingReplaceEmptyRenderer, Foundation.DynamicPersonalization" />
      </mvc.customizeRendering>
      <decorateRendering>
        <processor type="Foundation.DynamicPersonalization.Pipelines.DecorateRendering.PartialPageRenderingAddRenderingId, Foundation.DynamicPersonalization" resolve="true" />
      </decorateRendering>
    </pipelines>
  </sitecore>
</configuration>